---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div class="relative">
  <div class={`swiper ${id}`}>
    <div class="swiper-wrapper">
      <slot />
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev text-blue-400"></div>
    <div class="swiper-button-next text-blue-400"></div>
  </div>
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper('.swiper', {
    modules: [Navigation, Pagination],
    slidesPerView: 1,
    spaceBetween: 30,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
  });
</script>