---
import Carousel from './Carousel.astro';
import ProductCard from './ProductCard.astro';
import { getSortedAndFilteredContent } from '../content/config';

const products = await getSortedAndFilteredContent('products');
---

<Carousel id="products-carousel">
  {
    products.map((product) => (
      <div class="swiper-slide">
        <ProductCard product={product} />
      </div>
    ))
  }
</Carousel>