---
import Carousel from './Carousel.astro';
import ProjectCard from './../components/ProjectCard.astro';
import { getSortedAndFilteredContent } from '../content/config';

const projects = await getSortedAndFilteredContent('projects');
---

<Carousel id="projects-carousel">
  {
    projects.map((project) => (
      <div class="swiper-slide">
        <ProjectCard project={project} />
      </div>
    ))
  }
</Carousel>